 body {
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          }
           
          a:link {
            color: #00D300;
          }
          a:visited {
              color: #000;
          }
          a:hover {
              color:#FF0000;
          }
          
          #repo_p {
              font-size:3em; 
              font-weight:100; 
              margin:2px 0 0 0;
          }
          
          #social {
              margin:20px 0 0 0;
			  font-size:2em;
          }


 #header {
              width:60%; 
              margin:0 0 0 20%;
          }
          
          #headercontainer {
              background-color:#ededed; 
              padding:0 0 15px 0;
          }
          
          #avatar {
              margin:2%;
              height:50%;
              width:50%;
          }
		 
          #twitter {
              margin:0 10px 0 0;
          } 
          
          #facebook {
              margin:0 0 0 10px;
          }
          
          .twitter_img {
              width:50px;
              height:50px;
          }
		  #follow {
			  font-size:1em;
		  }
          
		  #ipajb {
              font-size:2.5em;
              font-weight:100;
          }
		  .grid_ipa {
              width:300px; 
              height:300px;
          }
		  .grid_cellipa {
              display:inline-block; 
              width:360px;
          }
		  
		  
		  
          #projects {
              font-size:2.5em;
              font-weight:100;
          }
          
          .grid_img {
              width:220px; 
              height:360px;
          }
          
          .grid_cell {
              display:inline-block; 
              width:320px;
          }
          
          .grid_p {
              font-size:2em;
          }
		  
		  .grid_t {
              font-size:1.5em;
          }
		  
		  .single-footer-widget {
			  font-size:1.5em;
			  color:#000;
		  }